# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Makefile
config.h
config.log
config.status
doc/Makefile
doc/UML/Makefile
doxygen.conf
examples/.deps/
examples/Makefile
libtool
src/.deps/
src/Makefile
src/SerialStreamBuf.loT
stamp-h1
examples/.libs/
examples/readport
examples/writeport
src/.libs/
